body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.info {
    text-align: center;
    color: gray;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td {
    padding: 8px;
}

td:first-child {
    font-weight: bold;
    width: 30%;
}

button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}